<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>Akiyoshi</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-1.2.0.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/lib/jquery-1.6.2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.tablesorter.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.tag.js" charset="utf-8"></script>

    <script type="text/javascript" src="/static/lib/jquery.flot.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.selection.min.js" charset="utf-8"></script>
<!--
    <script type="text/javascript" src="/static/lib/jquery.flot.crosshair.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.fillbetween.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.image.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.navigate.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.pie.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.resize.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.stack.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.symbol.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.threshold.min.js" charset="utf-8"></script>
-->
    <script type="text/javascript" src="/static/lib/binaryXHR.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFile.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFilter.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFlot.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFlotMatrix.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFlotSupport.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdMultiFile.js" charset="utf-8"></script>

    <script type="text/javascript" src="/static/js/jquery.akiyoshi.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.ajax.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.rrd.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.node.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.sidebar.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.content.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.manager.js" charset="utf-8"></script>


  </head>
<script type="text/javascript">
<!--
$(function(){
    //getRrdCpu('graph', '0');
    //getRrdCpuMatrix('graph', '0');
    $.akiyoshi.sidebar.nodes("nodes");
    $.akiyoshi.content.info("content");
});

// -->
</script>
<style type="text/css">
<!--
-->
</style>
<body>
  <div id="wrap">
    <div id="header">
      <div class="topbar-wrapper" style="z-index: 5;">
        <div class="topbar">
          <div class="topbar-inner">
            <div class="container">
              <h3><a href="#">Akiyoshi Project</a></h3>
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Monitoring</a></li>
                <li><a href="#">Detection</a></li>
              </ul>
              <ul class="nav secondary-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">Setting</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Account</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container" style="margin:54px 34px 12px 34px">
      <div class="container-fluid">
        <div id="sidebar" class="sidebar">
          <div id="tags"></div>
          <div id="nodes"></div>
        </div>
        <div id="content" class="content">
          <ul class="pills">
            <li class="active"><a href="#">CPU</a></li>
            <li><a href="#">Memory</a></li>
            <li><a href="#">Disk</a></li>
            <li><a href="#">MongoDB</a></li>
            <li><a href="#">MySQL</a></li>
          </ul>
          <div id="graph" style="margin-top: 57px">aaaaaaaaaaaaaaa</div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>
        <a href="https://github.com/fkei/akiyoshi">Akiyoshi Project</a> © 2011 - Japan
      </p>
    </div>
  </div>
</body>
</html>
