<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>Akiyoshi</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<!-- jquery -->
    <script type="text/javascript" src="/static/lib/jquery-1.6.2.min.js" charset="utf-8"></script>
<!-- jquery plugin -->
    <script type="text/javascript" src="/static/lib/jquery.tablesorter.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.tag.js" charset="utf-8"></script>
<!-- twitter bootstrap -->
    <script type="text/javascript" src="/static/lib/bootstrap-twipsy.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-alerts.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-dropdown.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-modal.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-popover.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-scrollspy.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-tabs.js" charset="utf-8"></script>
<!-- jquery.flot -->
    <!--[if lte IE 8]><script type="text/javascript" src="/static/lib/excanvas.min.js" charset="utf-8"></script><![endif]-->
    <script type="text/javascript" src="/static/lib/jquery.flot.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.colorhelpers.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.categories.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.crosshair.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.fillbetween.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.image.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.navigate.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.pie.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.resize.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.selection.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.stack.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.symbol.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/jquery.flot.threshold.js" charset="utf-8"></script>
<!-- rrd graph -->
    <script type="text/javascript" src="/static/lib/binaryXHR.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFile.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFilter.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFlot.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFlotMatrix.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdFlotSupport.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/lib/rrdMultiFile.js" charset="utf-8"></script>

    <script type="text/javascript" src="/static/js/jquery.akiyoshi.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.ajax.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.bootstrap.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.rrd.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.node.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.group.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.sidebar.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.action.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.content.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/akiyoshi.test.js" charset="utf-8"></script>


  </head>
<script type="text/javascript">
<!--
$(function(){
  // header
  $("#setting").dropdown();
    //getRrdCpu('graph', '0');
    //getRrdCpuMatrix('graph', '0');
    $.akiyoshi.sidebar.nodes("nodes");
    $.akiyoshi.sidebar.group("group", "server");
    $.akiyoshi.content.info("main");
    $.akiyoshi.test.flot("flot");
});

// -->
</script>
<style type="text/css">
<!--
-->
</style>
<body>
  <div id="wrap">
    <div id="header">
      <div class="topbar-wrapper" style="z-index: 5;">
        <div class="topbar">
          <div class="topbar-inner">
            <div class="container">
              <h3><a href="/">Akiyoshi Project</a></h3>
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Monitoring</a></li>
                <li><a href="#">Detection</a></li>
              </ul>
              <ul id="setting" class="nav secondary-nav">
                <li class="menu">
                  <a href="#" class="menu">Setting</a>
                  <ul class="menu-dropdown">
                    <li><a href="#">Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li class="divider"></li>
                    <li>
                      <a data-controls-modal="about-modal" data-backdrop="true" data-keyboard="true" class="link" href="#">
                        About
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container" style="margin:54px 34px 12px 34px">
      <div class="container-fluid">
        <div id="sidebar" class="sidebar">
          <div id="group"></div>
          <div id="nodes"></div>
        </div>
        <div id="content" class="content">
          <div id="action">
            <ul class="breadcrumb">
              <li><a href="/">Home</a><span class="divider">/</span></li>
              <li class="active">You are here</li>
            </ul>
          </div>

          <div id="alert"></div>

          <div id="main"></div>

          <!-- flot start -->
          <div id="flot", class="flot">
            <!-- graph -->
            <div style="float:left;"><div id="placeholder"  style="width:600px;height:300px"></div></div>
            <!-- miniture-->
            <div id="miniature" style="float:left;margin-left:20px">aaaa
              <div id="overview" style="width:166px;height:100px"></div>
              <p id="overviewLegend" style="margin-left:10px;"></p>
            </div>
            <div class="clear"></div>

            <div id="choices"></div>
            <div class="clearfix" id="clickdata">
              <label for="prependedInput2">Show mouse position</label>
              <div class="input">
                <div class="input-prepend">
                  <label class="add-on"><input type="checkbox" name="enablePosition" id="enablePosition"></label>
                  <input style="font-weight:bold" class="medium" id="hoverdata" name="hoverdata" size="32" type="text" disabled="disabled">
                </div>
              </div>
            </div>

            <div class="clearfix">
              <label id="optionsCheckboxes">Enable tooltip</label>
              <div class="input">
                <ul class="inputs-list">
                  <li>
                    <label>
                      <input type="checkbox" name="enableTooltip" id="enableTooltip">
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- flot end -->




        </div>
      </div>
    </div>
  </div>

<!-- modal -->
  <div id="modal" class="modal hide fade" style="display: none;"></div>

  <div id="about-modal" class="modal hide fade" style="display: none;">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3>About akiyoshi project</h3>
    </div>
    <div class="modal-body">
      <a href="https://github.com/fkei/akiyoshi">Akiyoshi Project</a> © 2011 - Japa
      <h3>Using open source</h3>
      <ul>
        <li>rrdtool</li>
        <li>collectd</li>
        <li>python >= 2.4</li>
        <li>SQLAlchemy</li>
        <li>Mako</li>
        <li>web.py</li>
        <li>jquery</li>
        <li>jquery.flot.js</li>
        <li>javascriptrrd</li>
      </ul>
      <h3>Open source has been helpful</h3>
      <ul>
        <li>karesansui project</li>
      <ul>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn close small">Close</a>
    </div>
  </div>
</body>
</html>
